################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sogeti.Solution.Service.Training/v15/Server/sqlite3
